@media (min-width:500px){
    body{
        background: rgb(79,38,131);
        background: linear-gradient(270deg, rgba(79,38,131,1) 0%, rgba(255,255,255,0) 100%);
        margin: 0;
    }
    header{
        background: rgb(251,185,60);
        background: linear-gradient(180deg, rgba(251,185,60,1) 0%, rgba(255,255,255,0) 100%);
    }
    header>img{
        padding: 2rem;
    }
    header>h1{
        font-family: 'sacramento', cursive;
        text-align: center;
        color: #862334;
    }
    header>nav>.top{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        color: #4f2683;
    }
    header>nav>.bottom{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        color: #4f2683;
    }
}